nav {
  padding: 0px 20px !important;
  margin: 20px 0px;
}
nav ul.navbar-nav li {
  padding: 0px 0px;
}
nav ul.navbar-nav li:hover {
  background: #667584;
}
nav ul.navbar-nav li.active {
  background: #3b4756;
}
nav ul.navbar-nav li a {
  display: block;
  color: #EBEBEB;
  font-size: 12px;
  padding: 11px 15px 10px !important;
  height: 40px;
}
nav ul.navbar-nav li a:hover {
  color: #EBEBEB;
}
@media (min-width: 767px) {
  nav ul.navbar-nav {
    height: 40px;
  }
}
.navbar-toggler {
  border: none !important;
}
