{block hobby}
    <div class="hobby-list">
        <div class="hobby" n:foreach="$hobby as $item" style="{$item->randomHobbyCssAsInlineString()|noescape}">
            {$item->getName()}
        </div>
    </div>
{/block}