{block socialbar}
    <div class="social-bar">
        <div class="btn-social" n:foreach="$social as $item" style="background: {$item->getColor()|noescape}"
             title="{$item->getName()}"
             onclick="location.assign({$item->getUrl()});">
            <i class="fa {$item->getIcon()}"></i>
        </div>
    </div>
{/block}