@col-primary: #2B3E50;
@col-primary-lighter: #4E5D6C;
@col-primary-darker: #0C1F32;

@col-secondary: #295344;
@col-secondary-lighter: #578A7B;
@col-secondary-darker: #093324;

@col-white: #EBEBEB;











* { // Nastavení fontu na webu
  font-family: 'Open Sans';
}

h1, .lead { // Jiný font pro nadpis a podnadpis
  font-family: 'Lato';
}


a {
  color: @col-secondary-lighter;
  font-weight: bold;
  
  &:hover, &:focus {
    color: @col-secondary;
    text-decoration: none;
  }
}


.center { // Obecná třída pro zarovnání na střed
  text-align: center;
  margin: auto;
}


.right { // Obecná třída pro zarovnání vpravo
  text-align: right;
}





#container { // Hlavní container
  width: 80%;
  margin: auto;
}



nav { // Navigační menu webu
  .fa { // Ikony v menu
    margin-right: 5px;
  }
}


.lead {
  i { // Ikona v podnadpisu
    margin-right: 10px;
  }
}





#content { // Hlavní obsah
  width: 100%;
  min-height: 100px;
  background: @col-white;
  color: @col-primary;
  padding: 1em 3em 2em;
  font-size: 0.9em;
  
  
  h2 { // Hlavní nadpis
    color: @col-secondary-lighter;
    font-weight: 500;
    margin-bottom: 20px;
  }
}






.skill { // Box jedné dovednosti
  margin: 10px;
  width: 200px;
  height: 100px;
  float: left;
  
  .name { // Název dovednosti
    font-weight: bold;
  }
  
  .progress { // Progressbar
    margin: 3px 0px;
    height: 0.3em;
    background: #C1C1C1;
    
    .progress-bar {
      background: @col-secondary-lighter;
    }
  }
  
  .detail { // Detailní popis
    font-size: 0.8em;
  }
}





.list-group { // Seznam skupin dovedností
  .badge {
    background: @col-primary;
  }
  
  .active { // Práve zvolená skupina
    background: @col-secondary-lighter;
    
    .badge {
      color: @col-secondary-lighter;
    }
    
    &:hover {
      background: @col-primary;
    }
  }
}





footer {
  font-size: 0.7em;
  text-align: right;
  background: @col-white;
  border-top: 1px solid @col-secondary-lighter;
  padding: 0.2em 1em;
  
  .item {
    display: inline-block;
    margin-left: 2em;
  }
}


body {
  padding-bottom: 3em;
}



.portfolio {
  width: 200px;
  height: 150px;
  border:  1px solid @col-secondary-lighter;
  margin: 10px;
  border-radius: 0px 0px 5px 5px;
  background: #FFFFFF;
  
  &:hover {
    cursor: pointer;
    border-color: @col-secondary;
    
    .name {
      color: @col-secondary;
    }
  }
  
  .image {
    width: 198px;
    height: 80px;
    
    img {
      border-bottom: 1px solid #CCCCCC;
    }
  }
  
  .info {
    float: left;
    margin: 5px;
  }
  
  .name {
    color: @col-secondary-lighter;
    font-weight: bold;
    
    .fa {
      color: #6B6990;
      
      &:first-child{
        margin-left: 5px;
      }
    }
  }
  
  .detail {
    color: @col-secondary-lighter;
    font-size: 0.7em;
  }
}


.portfolio-menu{
  .col-md-6 {
    padding: 10px 25px;
  }
}

.isotope {
  margin-top: 10px;
}

.btn-label {
  font-size: 0.8em;
  font-weight: bold;
  margin-bottom: 3px;
}

.btn-success {
  background: @col-secondary-lighter;
  
  &:hover {
    background: @col-secondary;
  }
}


.modal {
  .modal-title, .modal-body {
    color: @col-white;
  }
}


.portfolio-modal {
  .detail {
    margin: 10px;
    font-size: 0.9em;
  }
  
  .url {
    margin: 10px;
  }
}


.label {
  font-size: 80%;
  
  &.label-primary {
    background: @col-primary-darker;
  }
  
  &.label-success {
    background: @col-secondary-lighter;
  }
}


@media (max-width: 800px) { // Zobrazení mobilního navbaru na displejích se šířkou 1080px a menší...
 .skill {
   height: auto;
   width: 100%;
 }
}



@media (max-width: 1080px) { // Zobrazení mobilního navbaru na displejích se šířkou 1080px a menší...
  .navbar-header {
      float: none;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin: 7.5px -15px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .navbar-text {
      float: none;
      margin: 15px 0;
  }
  /* since 3.1.0 */
  .navbar-collapse.collapse.in { 
      display: block!important;
  }
  .collapsing {
      overflow: hidden!important;
  }
}

